services:
  nginx:
    image: nginx:1.15
    container_name: sec1-nginx-1
    ports:
      - "8080:80" # ホスト:サーバでポート番号を指定
    volumes:
      - ./src:/usr/share/nginx/html # ソースコード用フォルダのマウント
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf # 設定用フォルダのマウント
  php-fpm:
    build: ./php-fpm # Dockerfileをビルド
    container_name: sec1-php-fpm-1
    volumes:
      - ./src:/var/www/html # ソースコード用フォルダのマウント
  mysql:
    image: mysql:5.7
    container_name: sec1-mysql-1
    environment:
      MYSQL_DATABASE: sec_db # DB名
      MYSQL_ROOT_PASSWORD: root # ルートユーザのパスワード
      MYSQL_USER: sec_user   # 一般ユーザ名
      MYSQL_PASSWORD: password  # 一般ユーザのパスワード
      TZ: Asia/Tokyo            # タイムゾーン指定
    ports:
      - 3306:3306
    volumes:
      - ./mysql/data:/var/lib/mysql # ローカルにマウント
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: sec1-phpmyadmin-1
    depends_on:
      - mysql # mysqlのつぎに起動
    environment:
      - PMA_ARBITRARY=1   # ログイン画面にホスト入力画面が出現
      - PMA_HOST=mysql    # 接続先のmysqlコンテナ
      - PMA_USER=root     # ルートユーザ
      - PMA_PASSWORD=root # ルートユーザのパスワード
    ports: 
      - 3030:80